.trapezoid {
  border-bottom: 50px solid gray;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  opacity: 0.4;
  filter: drop-shadow(0px 128px 50px #000000);
  -webkit-filter: drop-shadow(0px 128px 50px #000000);
  -moz-filter: drop-shadow(0px 128px 50px #000000);
}
